<html>
    <head>
        <title>Agnieszka's blog</title>
    </head>
<body>
    <div>
        <h1><a href="/">Agnieszka's blog</a></h1>
    </div>

    <div>
        <p>published: 25.08.2018, 12:00</p>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div>
        <p>published: 25.08.2018, 12:30</p>
        <h2><a href="">My second post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <p>Hi there!</p>
    <p>It works!</p>
</body>
</html>